// @import url('mobile.css') screen and (max-width: 600px);
// @import url('desktop.css') screen and (min-width: 601px);

// @media screen and (max-width: 600px){
//   @import 'mobile.scss';
// }
// @media screen and (min-width: 601px){
//   @import 'desktop.scss';
// }

// @import 'mobile.scss';

// @media screen and (min-width: 601px){
//   @import 'desktop.scss';
// }

@import 'modules/variables';
@import 'modules/mixin';
@import 'modules/button';
@import 'modules/hero-slider';
@import 'modules/text-animation';
@import 'modules/image-slide';
@import 'modules/mobile-menu';
@import 'modules/appear';

@import "breakpoints/base";

@media (min-width: 480px){
  @import 'breakpoints/480up';
}

@media (min-width: 600px){
  @import 'breakpoints/600up';
}

@media (min-width: 960px){
  @import 'breakpoints/960up';
}

@media (min-width: 1280px){
  @import 'breakpoints/1280up';
}

@media (min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2){
  @import 'breakpoints/2x';
}

@media print {
  @import 'breakpoints/print';
}