span {
    /* display: block; */
    width: 100px;
    height: 100px;
    background-color: magenta;
}

div {
    width: 100px;
    height: 100px;
    background-color: magenta;
}

#first {
    font-size: larger;
    background-color: green;
}

.first {
    font-size: small;
    background-color: red;
}

#first.first {
    background-color: yellow;
}
